<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angeles Verdes</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
            <div class="contenedor">
                <h1 class="icon-dog">Angeles Verdes</h1>
                <input type="checkbox" id="menu-bar">
                <label for="menu-bar">~</label>
                <nav class="menu" >
                    <a class="click" href="/">Inicio</a>
                    <a href="datos">Datos</a>
                    <a href="mapa">Mapa</a>
                    <a href="acerca.html">Acerca de..</a>
                </nav>
            </div>
	    </header>

    <br><br><br><br>
    <p><h2 align="center">Oficina de representación estatal de la Corporación Angeles Verdes</h2></p>
    <br>
    <br>
    <br>
    <p><h5>Cuando viajas no siempre sules tener suerte, alguna complicacion se te puede dar. Los angeles verdes estan para ayudarte. </h5></p>
    <p><h5>En esta pagina web podras encontrar la ubicacion y datos de las oficinas de representación estatal de la Corporación Angeles Verdes.</h5></p>
    <p><h5>Solo da clic en el menu de arriba (datos o mapa). </h5></p>

</body>
</html>
